@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Roboto&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html{
	overflow-x: hidden;
}

.header li{
	list-style: none;
}
a{
	text-decoration: none;
}

img{
	width: 100%;
}
.conatiner{
	/* width: 95vw; */
	font-family: 'roboto',sans-serif;/* 
	font-family: 'Fira Sans',sans-serif; */
	overflow-x: hidden;
	box-sizing: border-box;
}

.header{
	height: 15vh;
	width: 90vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	/* position: fixed; */
}


.header .logo{
	font-size: 2rem;
	font-family: 'Fira Sans',sans-serif;
	cursor:pointer;

}
.navbar{
	/* background: red; */
	width: 50%;
}

.navbar ul{
	/* background: blue; */
	display: flex;
	justify-content: space-around;
}
.navbar ul li a{
	font-size: 1rem;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 1.5px;
	color: #181818;
	transition: color 300ms ease-in-out;
}

.navbar ul li a:hover{
	color: gray;
}

/* =======================
         Hero Section
   =======================
 */

 .hero{
 	/* height: 100vh; */
 	/* width: 90vw; */
 	margin: 0 auto;
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 	text-align: center;
 }

 .image{
 	flex: 1;
 }

 .texts{
 	flex: 1;
 	letter-spacing: .5px;
 	/* background: red; */
 	padding: 1rem 0;
 	display: flex;
 	flex-direction: column;
 }


 .texts h2{
 	font-weight: 500;
 	font-size: 3.25rem;
 	line-height: 1;
 	text-align: left;
 	margin-bottom: 1.25rem;
 }

.texts p{
	color: #666;
	text-align: justify;
 	margin-bottom: 1.25rem;
	line-height: 1.2;
}

.texts a{
	padding: .5rem 1.5rem;
	border: 1px solid rosybrown;
	color: rosybrown;
	align-self: start;
	transition: background 300ms ease;

}
.texts a:hover{
	background: brown;
	color: white;
}



/* =======================
      quote Section
   =======================
 */

 .quote{
 	/* height: 30vh; */
 	/* width: 100vw; */
 	background: rgba(0, 0, 0, .1);
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
 	padding: 4rem 0 ;
 }

 .quote h1,.quote h3{
 	width: 70%;
 	letter-spacing: 2px;
 	line-height: 1.25;
 }

.quote h1{
 	font-size:2rem;
 	font-weight: 550;
 	margin-bottom: 2rem;
}

.quote h3{
	font-size: 1.25rem;
	text-transform: capitalize;
	font-weight: 900;
}




/* =======================
      Features Section
   =======================
 */

.features{
	display:flex;
	/* width: 80vw; */
	margin: 0 auto;
	align-items: center;
	padding: 2rem 0;
}

.features .image{
	flex: 1;
}

.features .features-text{
	flex: 1;
	/* background: gray; */
	line-height: 1.5;
	
}

.features-text h3{
	font-size: 2rem;
	text-transform: capitalize;
	margin-bottom: 1rem;
}

.features-text ul li{
	font-size: 1.25rem;
	letter-spacing: 1px;
	color: #999;
}

.features-text ul{

}

/* 
	=======================
		bg image section
	=======================
 */

.bg-image{
	height: 80vh;
	background-image: url('https://images.unsplash.com/photo-1513258496099-48168024aec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color:gray ;
	background-blend-mode: multiply;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.bg-image-texts{
	width: 50%;
	padding: 1rem 0;
	color: white;
	letter-spacing: 1px;
	
}

.bg-image-texts h2{
	font-size: 2rem;
	line-height: 1.1;
	margin-bottom: 1rem;
	font-weight: 400;
}

.bg-image-texts a{
	display: inline-block;
	padding: .5rem 1.5rem;
	background: rgba(255, 0, 0, .8);
	color: white;
}
.bg-image-texts a:hover{
	background: rgba(255, 0, 0, 1);
}


/* 
	=======================
		footer section
	=======================
 */
.footer{
	/* height: 50vh; */
	box-sizing: border-box;
	/* width: 90vw; */
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.footer-left,.footer-right{
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.footer-left{
	/* flex: 1; */
	flex-basis: 60%;
	/* background: red; */
	justify-content: flex-end;
}

.footer-left h3, .footer-left p{
	padding: 1rem 0;
	/* width: 80vw; */
	/* align-self: flex-start; */
	text-align: left;
} 

.footer-left h3{
	font-size: 2rem;
}

.footer-right{
	flex-basis: 40%;
	/* flex: 1; */
	/* background: blue; */
	height: 70%;
	justify-content: flex-end;
}

.footer-right h3, .footer-right p{
	padding: 1rem 0;
	/* width: 80%; */
	/* align-self: flex-start; */
	text-align: center;

} 

.footer-right h3{
	font-size: 2rem;
}
.footer-left p, .footer-right p{
	color: #A1A1A1;
	line-height: 1.2;
	letter-spacing: 1px;
}
.footer-left .copyright,.footer-right .mail{
	color: #927f54 ;
}


@media (max-width:768px)
{
	
	.container{
		display: grid;
		grid-template-columns: 1rem 1fr 1rem;
		grid-template-areas: 
		"header header header"
		". hero ."
		"quote quote quote"
		". features ."
		"bg-image bg-image bg-image"
		"footer footer footer";
	}

	.header{
		grid-area: header;
	}	
	.hero{
		grid-area: hero;
	}
	.quote{
		grid-area: quote;
	}
	.features{
		grid-area: features;
	}
	.bg-image{
		grid-area: bg-image;
	}
	.footer{
		grid-area: footer;
	}




	li{
		list-style: none;
	}
	.hero, .header{
		flex-direction: column;
	}

	.header .navbar ul li{
		/* padding: 0 1rem; */
		font-size: 1rem;
		letter-spacing: 0;
		margin: 0 5px;
		display: flex;
	}

	.hero{
		padding-bottom: 2rem;
	}
	.hero .texts{
		/* width: 80%; */
	}

	.texts h2{
		font-size: 2rem;
	}

	.texts p{
		font-size: .8rem;
		letter-spacing: 1px;
		text-align: left;
	}

	.features{
		flex-direction: column;
		text-align: center;
	}
	.bg-image{
		justify-content: flex-start;
		align-items: center;
	}
	.bg-image-texts{
		/* width: 90vw; */
		margin: 0 auto;

	}

	.footer{
		flex-direction: column;
		/* width: 100%; */
		margin: 0 auto;
		background: rgba(0, 0, 0, .05);
	}
	.footer-right,.footer-left{
		box-sizing: border-box;
		width: 90%;
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem;
	}

	.footer-left h3, .footer-left p{
		text-align: left;
	}


}