@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Roboto&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/* global styles */

body{
	font-family: roboto ,sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	
}

img{
	width: 100%;
}
.logo{
	font-family: fira sans ,sans-serif;
}
.container{
 	width: 90%;
 	margin: 0 auto;
 }


/* ================= 
		header
   =================
 */

 .header{
 /* background: red; */
 	min-height: 10vh;
 }

 .logo{
 	display: block;
 	text-align: center;
 	padding-top: 1rem;
 	font-size: 1.5rem;
 }

 .navbar{
 	/* float: right; */
 	/* background: blue; */
 	text-align: center;
 }

.navbar ul{

}
 
 .navbar ul li{
 	display: inline-block;
 	margin: 1rem .4rem;
 }

 .navbar ul li a{
 	color: grey;
 }

 .navbar ul li:hover a{
 	border-bottom: 2px solid black;
 }



/* ================= 
		Hero
   =================
 */

 .hero{
 	padding: 2rem 0;
 }

 .hero .texts{
 	text-align: center;
 }

 .texts h2{
 	margin-bottom: 1.5rem;
 }

 .texts p{
 	color: grey;
 	margin-bottom: 1.5rem;
 	/* text-align: justify; */
 }
 .texts a{
 	display: inline-block;
 	color: white;
 	padding: .5rem 1.5rem;
 	border-radius: 2px;
 	background: black;
 }

 .texts a:hover{
 	color: black;
 	background: white;
 	border: 1px solid black;
 }



 /* ================= 
		quote
   =================
 */

 .quote{
 	background: rgba(0, 0, 0,.1);
 	padding: 2rem;
 	text-align: center;
 }

.quote h1{
	font-weight: 600;
	margin-bottom: 1rem;
	font-style: italic;
}

.quote h3{
	font-weight: bold;
	text-transform: capitalize;
}



 /* ================= 
		features
   =================
 */

.features{
	padding: 1rem;
	text-align: center;
}
.features-text h3{
	letter-spacing: 1px;
	text-transform: capitalize;
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 1.4rem;
}

.features-text ul li{
	padding: 1rem;
	color: gray;
	border-top: 1px solid #181818;
	margin: 10px 0;
	border-left: 1px solid #181818;
	
}

 /* ================= 
		bg-image
   =================
 */

 .bg-image{
 	min-height: 40vh;
 	background-image: url('https://images.pexels.com/photos/1181681/pexels-photo-1181681.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-color: gray;
 	background-blend-mode: multiply;
 	display: flex;
 	align-items: center;
 }

 .bg-image-texts{
 	color: #fff;
 	text-align: center;
 }

.bg-image-texts h2{
 	margin-bottom: 1rem;
}

 .bg-image-texts a{
 	display: block;
 	padding: .5rem ;
 	border-radius: 2px;
 	color: black;
 	background: white;
 	text-align: center;
 }

 .bg-image-texts a:hover{
 	color: white;
 	background: black;
 }



 /* ================= 
		footer
   =================
 */

 .footer{
 	padding: 2rem 0;
 	text-align: center;
 	color: white;
 	background: white;
 }

.footer-left,
.footer-right{
	/* margin-bottom: 2rem; */
	padding: 1rem;
	margin-bottom: 1rem;
	/* border-bottom: 1px solid black; */
	background: #181818;
}

.footer-left h3,
.footer-left p,
.footer-right h2,
.footer-right p {
	margin-bottom: 1rem;
}

.footer-left h3,
.footer-right h2{
	font-size: 1.5rem;
}

.footer-left p,
.footer-right p{
	color: gray;
}

.footer-left .copyright,
.footer-right .mail{
	color: white;
}